*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root{
    --bs-dark-color: #1a1d20;
    --bs-dark-primary:#1c1c1c;
    --bs-main-color:#fff;
    --bs-primary-color: #c6c6c6;
    --secondary-color: #29a9fd;
    --bs-supporting-color: #C850C0;
}

h1,h2,h3,h4,h5{
    color: var(--bs-dark-color);
}
h1{
    font-size: 3.4rem;
}
h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
}
p{
    font-weight: 400;
    margin: 0;
    font-size: 1rem;
    color: var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.5rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.nav-link{
    color: var(--bs-main-color);
    font-weight: bold;
}
.nav-link:hover{
    color: var(--secondary-color);
}


.bg-main{
    height: 80vh;
    position: relative;
}
.bg-color{
    background-color: var(--bs-dark-primary);
}
.text-light-grey{
    color: var(--bs-primary-color);
}
.hero-section .container{
    display: grid;
    place-content: center;
    height: inherit;
}

.hero-section-image{
    /* max-width: 100%; */
    width: 30rem;
    border-radius: 1.5rem;
}


.custom-shape-divider-bottom-1707636256 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707636256 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
}

.custom-shape-divider-bottom-1707636256 .shape-fill {
    fill: #FFFFFF;
}


.service-section{
    padding: 6rem 0 3rem 0!important;
}
.common-heading{
    font-size: 2.8rem;
    font-weight: 500;
}
.common-title{
    margin-bottom: 4.2rem;
}
.icon-span{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--secondary-color);
    color: var(--bs-main-color);
}
.white{
    color: #FFFFFF;
}
.grey{
    color: var(--bs-primary-color);
}

.more-info-section{
    background-image: linear-gradient(rgba(22,22,22,0.9),rgba(22,22,22,0.9)),url(./images/skyline.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}


.carousel-inner .card{
    background-color: #06021f30;
    color: var(--bs-main-color);
}
.carousel-inner .card .card-body p{
    color: var(--bs-main-color);
}
.carousel-inner .card:hover{
    background-color: var(--bs-main-color);
    color: var(--bs-dark-color);
    cursor: pointer;
}
.carousel-inner .card:hover .card-body p{
    color: var(--bs-dark-color);
    cursor: pointer;
}
.carousel-indicators [data-bs-target]{
    height: 0.7rem;
    width: 0.7rem;
    background-color: #b373af;
}

.carousel-inner .card-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card-body p{
    text-align: justify;
}
.stars i{
    margin-left: 0.1rem;
    color: var(--bs-supporting-color);
}


.card{
    width: 18rem;
    margin: auto;
}
.card-img-top{
    background-color: #043e64;
    padding: 0;
}
.btn-expert{
    display: flex;
    width: 46%;
    justify-content: center;
}
.info-expert p{
    color: #116fad;
}

.contact-section{
    position: relative;
}

.custom-shape-divider-top-1707719178 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1707719178 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1707719178 .shape-fill {
    fill: #FFFFFF;
}

.form-section{
    width: 50%;
}
.form-input{
    width: 102%;
}


.footer-head{
    background-color: rgb(36,36,36);
}



/* media query for responsiveness */

@media screen and (max-width:1200px) {
    .card{
        width: 14rem;
        margin: auto;
    }
}

@media screen and (max-width:1100px) {
    .hero-section-image{
        border-radius: 1rem;
        width: 25rem;
    }
    h1{
        font-size: 2.4rem;
    }
}

@media screen and (max-width:991px) {
    .navbar-toggler{
        border-color: var(--bs-main-color);
    }
    .navbar-toggler-icon{
        background-color: var(--bs-main-color);
        color: var(--bs-main-color);
    }
    h1{
        font-size: 2.4rem;
    }
    .hero-section{
        height: 110vh;
    }
    .hero-section-image{
        border-radius: 1rem;
        width: 20rem;
    }
    .common-heading{
        font-size: 1.8rem;
    }
    .image-section img{
        width: 450px;
    }
    .card{
        width: 18rem;
        margin: auto;
    }
}